:root {

    --Orange: hsl(25, 97%, 53%);
    --LightOrange: hsl(25, 93%, 58%);

    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(218, 24%, 25%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}

html {
    font-size: 62.5%;
    font-family: "Overpass", sans-serif;
}
body {
    font-size: 1.6rem;
    height: 100svh;
    background-color: var(--VeryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 1.3rem;
}

p {
    font-size: 1.5rem;
}

.interactive-card {
    background-color: var(--DarkBlue);
    padding: 4rem;
    border-radius: 1rem;
    max-width: 30rem;
}

.interactive--card__star-icon picture {
   
    background-color: var(--LightGrey);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
}
.interactive-card__title {
    font-size: 2rem;
    color: var(--White);
    font-weight: 700;
    margin-top: 2rem;
}
.interactive-card__parragraph {
    font-weight: 400;
    font-size: 1.4rem;
    color: hsl(220, 10%, 88%);
    line-height: 1.5;
}
.interactive-card__rating-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.interactive-card__rating-container li{
    width: 4rem;
    height: 4rem;
    font-size: 1.1rem;
    color: var(--White);
    list-style: none;
    background-color: var(--LightGrey);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.interactive-card__rating-container li:hover {
    background-color: var(--Orange);
    cursor: pointer;
}
.interactive-card__rating-container li.active {
    background-color: var(--White);
    color: black;
    
  }

.interactive-card__btn {
    width: 100%;
    padding: 1.4rem;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .3rem;
    border-radius: 15rem;
    border: none;
    margin-top: 1rem;
    background-color: var(--Orange);
}
.interactive-card__btn:hover {
    background-color: var(--White);
}

.interactive-card-end {
    background-color: var(--DarkBlue);
    padding: 4.2rem;
    max-width: 30rem;
    border-radius: 1rem;
    display: none;
}
.interactive-card-end__image picture {
    width: 100%;
    display: flex;
    
}
.interactive-card-end__image img {
    width: 50%;
    margin: auto;
}
#selected-rating {
    background-color: var(--LightGrey);
    width: 55%;
    margin: 2rem auto;
    text-align: center;
    color: var(--Orange);
    font-size: 1.2rem;
    padding: .6rem;
    border-radius: 3rem;
}
.interactive-card-end__title {
    color: var(--White);
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 3rem;
}
.interactive-card-end__parragraph {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    color: hsl(220, 10%, 88%);
}

@media (max-width: 768px) {
    .interactive-card {
        max-width: 17rem;
        padding: 1rem;
    }
    .interactive--card__star-icon picture img{
        width: .8rem;
        height: .8rem;
        padding: 0;
    }
    .interactive-card__title {
        font-size: 1.2rem;
        color: var(--White);
        font-weight: 700;
        margin-top: 1.5rem;
    }
     .interactive-card__parragraph {
        font-size: .8rem;
        text-align: start;
        line-height: 1.4rem;
        margin-bottom: 1.5rem;
    }

    .interactive-card__rating-container {
        margin: 0;
    }

    .interactive-card__rating-container li {
        width: 1.5rem;
        height: 1.5rem;
        font-size: .7rem;
        padding: .5rem;
    }
    
    .interactive-card__btn {
        padding: .9rem;
        font-size: .9rem;
        letter-spacing: normal;
    }    

    .interactive-card-end {
        max-width: 17rem;
        padding: 1.5rem 1rem;
    }
    .interactive-card-end__image picture {
        width: 100%;
        display: flex;
        
    }
    .interactive-card-end__image img {
        width: 60%;
        margin: auto;
    }

    #selected-rating {
        width: 65%;
        font-size: 1rem;
        margin: 2rem auto;
    }
    .interactive-card-end__title {
        font-size: 1.6rem;
        margin: 2rem auto 1rem;
    }
    
    .interactive-card-end__parragraph {
        text-align: center;
        color: hsl(220, 10%, 88%);
        font-size: .6rem;
        line-height: 1.3;
        margin: 0;
    }
}